/* основной цвет текста 757575 */
/* основной цвет заголовков  212121 */
/* основной цвет фона FFFFFF */
/* цвет ссылок и кнопок 2196F3 */
/* цвет фона герой, футтер 2F303A */
/* цвет фона секций, кнопок F5F4FA */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --button-link-color: #2196f3;
  --hero-bgc: #2f303a;
  --section-bgc: #f5f4fa;
  --main-bg-color: #ffffff;
  --main-text-color: #ffffff;
}
body {
  background-color: var(--main-bg-color)
  color: var(--primary-text-color);
  position: relative;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}
h1 {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
}

.button-on {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  background: #2196f3;
}

.subtittle {
  color: var(--title-text-color);
}

.discription {
  color: var(--primary-text-color);
  line-height: 24px;
}

.prof {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 19px;
}
footer,
.hero {
  background-color: var(--hero-bgc);
}

.hero-title {
  color: var(--main-text-color);
}
.logotyp {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--button-link-color);
}
.logotyp span {
  color: #000000;
}
.brg-log {
  color: var(--main-text-color); 
}

.menu a {
  font-weight: 500;
}

.navigation .nav-link-active {
  color: var(--button-link-color);
}
.navigation .nav-link {
  color: var(--title-text-color);
}
.contacts a {
  color: var(--primary-text-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--title-text-color);
}

.tittle{
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--title-text-color);
}
.adress-footer, .contacts-footer {
  color: var(--main-text-color);
  line-height: 24px;
  font-style: normal;
}

.contacts-footer a {
  color: rgba(255, 255, 255, 0.6);
  
}

.work, .worktype-links {
  font-size: 16px;
  color: var(--title-text-color);
  background-color: var(--section-bgc);
  border-radius: 4px;
}


.work-expirience h3 {
  font-size: 18px;
  font-weight: bold;
}

.filtre-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.filtre-button:hover,
.filtre-button:focus {
  color: var(--main-text-color);
  background-color: #2196f3;
}

.work-expirience-tittle {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.work-expirience-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color);
}

.navigation a:hover,
.contacts a:hover,
.navigation a:focus,
.contacts a:focus {
  color: var(--button-link-color);
}
